/* You can add global styles to this file, and also import other style files */
.tabs-layout {
  display: grid;
  grid-template-rows: 35px auto;
  width : 100%;
  height: 70vh;
  border: 1px solid black;
}
.tabs{
  display: grid;
  grid-auto-columns:1fr;
  grid-auto-flow: column;
  border: 1px solid red;
  width : 99%;
  margin: 2px;
  align-items: center;
  justify-items: center;
}
.active{
  background-color: yellow;
}
